@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    background: linear-gradient(
        135deg, #153677, #4e085f
    );
    height: 100vh;
    width: 100vw;
}
.custom-background{
    background: fixed url('./assets/4905798.jpg') 84% center / 50% no-repeat #fff;
}

@media (max-width: 768px) { 
    .custom-background {
        background-image: none; 
    }
}